.projects{

    min-height:100vh;

    padding:80px;

    background-color:var(--section-bg);

    color:var(--text-color);

    transition:background-color .4s,color .4s;
}

.projects h2{

    text-align:center;

    font-size:45px;

     color:var(--heading-color);

    margin-bottom:60px;
}

.projects-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:30px;
}

@media (max-width:768px){

    .projects{

        padding:40px 20px;

    }

}