.hero{
    background:var(--bg-color);

    color:var(--text-color);

    transition:.4s;

    display:flex;

    justify-content:space-between;

    align-items:center;

    min-height:100vh;

    padding:80px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 60px;
    margin: 10px 0;
}

.hero-text h2 {
    color: #38bdf8;
}

.hero-text p {
    font-size: 20px;
    line-height: 1.8;
}

.hero-image img{

    width:350px;

    height:350px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid #38bdf8;

    box-shadow:0 0 30px rgba(56,189,248,.4);
}

.hero-buttons {
    margin-top: 30px;
}

.btn-primary,
.btn-secondary {

    padding: 14px 28px;

    border-radius: 8px;

    border: none;

    cursor: pointer;

    font-size: 17px;

    transition: .3s;
}

.btn-primary {

    background: #3b82f6;

    color: white;
}

.btn-secondary {

    background: transparent;

    border: 2px solid white;

    color: white;
}
.btn-primary:hover{

    transform: translateY(-3px);

    background:#2563eb;
}
.btn-secondary:hover{

    transform: translateY(-3px);

    background:white;

    color:#0f172a;
}

/* Mobile Devices */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .hero-image img {
        width: 250px;
        height: 250px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}