.contact {

    min-height: 100vh;

    padding: 80px;

     background:var(--section-bg);

    color:var(--text-color);

    transition:.4s;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;
}

.contact h2 {

    font-size: 45px;

    margin-bottom: 40px;

      color:var(--heading-color);
}

.contact form {

    width: 100%;

    max-width: 600px;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.contact input,
.contact textarea {

    width:100%;

    padding:15px;

    background:var(--card-bg);

    color:var(--text-color);

    border:1px solid #94a3b8;

    border-radius:8px;

    transition:.4s;
}

.contact textarea {

    min-height: 150px;

    resize: vertical;
}

.contact button {

    background:var(--button-bg);

    color:var(--badge-text);

    transition:.3s;

    padding: 15px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;

    transition: 0.3s;
}

.contact button:hover {

   background:var(--button-hover);

    transform: translateY(-2px);
}
.contact input::placeholder,
.contact textarea::placeholder{

    color:#94a3b8;

}